@import 'Source';

.card {
    width: calc(100% - 30px);
    max-width: 768px;
    background: #fff;
    position: relative;
    margin: -85px auto 30px;
    border-radius: $radius;
    box-shadow: $shadow;
    overflow: hidden;

    .card-head {
        display: flex;
        padding: 15px;
        line-height: 53px;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 100;
            margin: 0;
        }

        .btn-add {
            background: $color-primary;
            border-radius: $radius;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: normal;
            color: #fff;
            padding: 0;
            width: 40px;
            height: 40px;
            font-size: 1rem;
            border: none;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;

            &:focus,
            &:active,
            &:hover {
                box-shadow: 0px 0px 10px 2px $color-primary;
                transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }
        }
    }
}
