@import 'Source';

header {
    background: $bg-grad;
    position: relative;
    height: auto;
    width: 100vw;
    padding-bottom: 150px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
