@import 'Source';

aside {

    &.logo {
        color: #fff;
        padding: 10px;
        display: block;
        text-align: center;
        background: transparent;
        font-size: 2rem;

        a {
            text-decoration: none;
            color: inherit;

            i {
                font-style: normal;
                color: $pink;
            }
        }
    }
}
