@import 'Source';

.d-none {
    display: none;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $bg-grad;
    color: #fff;

    .modal-main {
        position: fixed;
        width: 90%;
        max-width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .modal-head {
            text-align: center;
            border-bottom: 1px solid #fff;
            margin-bottom: 20px;

            span {
                display: block;
                color: #fff;
                padding: 15px;
                font-size: .735rem;
            }
        }

        .modal-body {
            display: flex;
            flex-flow: row wrap;
            border-radius: inherit;
            justify-content: space-between;
            text-align: center;

            .field-group {
                margin-bottom: 1rem;
                flex: 1 100%;

                label {
                    display: block;
                    font-size: .735rem;
                    letter-spacing: 1px;
                    margin-bottom: .5rem;
                }

                &.left {
                    margin-top: 3rem;
                    text-align: left;
                    flex: 1 50%;
                }

                &.right {
                    margin-top: 3rem;
                    text-align: right;
                    flex: 1 50%;
                }

                dd {
                    margin: 0;

                    &:before {
                        content: "R$ "
                    }
                }

                input {
                    width: 100%;
                    outline: none;
                    color: #fff;
                    font-size: 1.5rem;
                    line-height: 3rem;
                    text-align: inherit;
                    display: inline-block;
                    border-radius: $radius;
                    background: transparent;
                    border: 1px solid #fff;
                    box-sizing: border-box;


                    &:focus,
                    &:active,
                    &:hover {
                        border: 1px solid #fff;
                        box-shadow: 0px 0px 5px 0px #fff;
                    }

                    &::-webkit-input-placeholder {
                        color: #fff;
                        opacity: .5;
                    }

                    &::-moz-placeholder {
                        color: #fff;
                        opacity: .5;
                    }

                    &:-ms-input-placeholder {
                        color: #fff;
                        opacity: .5;
                    }

                    &:-moz-placeholder {
                        color: #fff;
                        opacity: .5;
                    }
                }
            }
        }

        .modal-footer {
            display: flex;
            margin-top: 20px;
            text-align: center;

            .btn {
                border-radius: $radius;
                background: transparent;
                border: 1px solid #fff;
                color: #fff;
                padding: 7px 30px;
                font-weight: bold;
                flex: 1;
                font-size: 1.2rem;

                &:first-child {
                    margin-right: -1px;
                    border-right: 0;
                    border-radius: $radius 0 0 $radius;
                }

                &:last-child {
                    border-left: 0;
                    border-radius: 0 $radius $radius 0;
                }

                &.btn-primary {
                    background: rgba(255, 255, 255, .2);
                    color: #fff;

                    &:focus,
                    &:active,
                    &:hover {
                        color: $color-primary;
                        background: #fff;
                        box-shadow: none;
                    }
                }

                &.btn-secondary {

                    &:focus,
                    &:active,
                    &:hover {
                        color: $color-secondary;
                        background: #fff;
                        box-shadow: none;

                        +.btn-primary {
                            background: transparent;
                            border: 1px solid #fff;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.mui-select {
    display: block;

    & select {
        background-color: transparent;
        text-transform: capitalize;
        text-align-last: center;
        border: 1px solid #fff;
        border-radius: $radius;
        font-family: inherit;
        font-size: 1.5rem;
        line-height: 3rem;
        display: block;
        width: 100%;
        outline: none;
        cursor: pointer;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        color: #FFF;

        &::-ms-expand {
            display: none;
        }

        &:focus {
            outline: 0;
            margin-bottom: -1px;
        }

        &:-moz-focusring {
            color: transparent;
        }

        &:focus::-ms-value {
            background: none;
        }

        &.mui--text-placeholder {
            color: $color-grey;
        }
    }

    .mui-select__menu {
        position: absolute;
        z-index: 2;
        min-width: 100%;
        overflow-y: auto;
        padding: 8px 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        font-size: 16px;
        border-radius: $radius;
        top: 50% !important;
        left: 50%;
        transform: translate(-50%, -50%);

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            .mui-select__menu {
                border-left: 1px solid rgba(0, 0, 0, 0.12);
                border-top: 1px solid rgba(0, 0, 0, 0.12);
            }
        }

        @supports (-ms-ime-align: auto) {
            .mui-select__menu {
                border-left: 1px solid rgba(0, 0, 0, 0.12);
                border-top: 1px solid rgba(0, 0, 0, 0.12);
            }
        }

        & div {
            border-bottom: 1px solid #eee;
            white-space: nowrap;
            color: $color-grey;
            line-height: 42px;
            padding: 0 22px;
            height: 42px;
            cursor: pointer;
            transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;


            &.mui--is-selected {
                background-color: $color-mark;
                color: #fff;
            }

            &:not(.mui-optgroup__label):not(.mui--is-disabled):hover {
                background-color: $color-grey;
                color: #fff;
            }
        }
    }
}
